<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @client.name %>
</p>

<p>
  <b>Commitment:</b>
  <%= @client.commitment %>
</p>

<p>
  <b>local_graph_id:</b>
  <%= @client.local_graph_id %>
</p>

<p>
  <b>rra_id:</b>
  <%= @client.rra_id %>
</p>


<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Back', clients_path %>
